* {
    font-size: 36px;
}

@keyframes animation1 {
    from {
        background-color: brown;
    }

    to {
        background-color: blue;
    }
}

.animationOne {
    animation-name: animation1;
    animation-duration: 2s;
    /* animation-fill-mode:backwards; */
}

@keyframes animation2 {
    0% {
        background-color: brown;
    }

    25% {
        background-color: chartreuse;

    }

    50% {
        background-color: darkmagenta;
        /* border: 10px solid red; */
    }

    75% {
        background-color: darkgreen;
    }

    100% {
        background-color: yellow;
    }
}

.animationTwo {
    animation-name: animation2;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

/* Animation Three */

@keyframes animation3 {
    from {
        left: -30%;
    }

    to {
        left: 100%;
    }
}

.animationThree {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    margin-top: 50px;
    animation-name: animation3, animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: reverse;
}