@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #0032a8;
}

.container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    margin: 50px;
}

.title {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    color: #efefef
}

.icon {
    color: #efefef;
    font-size: 180px;
}

.desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablet {
    display: none;
    flex-direction: column;
    align-items: center;
}

.smartphone {
    display: none;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 900px) {
    body {
        background-color: red;

        .desktop {
            display: none;
        }
    }

    .tablet {
        display: flex;
    }
}

@media(max-width: 500px) {
    body {
        background-color: green;

        .smartphone {
            display: flex;
        }
    }

    @media(max-width: 500px) {
        body
    }
}