@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* Base Styling to differentiate each grid item */

.container div {
    background-color: crimson;
    padding: 1em;
}

.container div:nth-child(odd) {
    background-color: dodgerblue;
}

/* CSS GRID CODE BELOW: */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* GTC - sets the ammount of columns in the grid
    and is specified by the number of units passed
    or with the repeat method */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 1fr 1fr 1fr; */


    /* GTR - works in a similar way to GTC
    however wont automatically follow the same pattern */
    /* grid-template-rows: 500px 500px; */

    /* column-gap: 5px;
    row-gap: 5px; */
    column-gap: 5px;
    row-gap: 5px;
}