/* * {
    background-color: red;
} */

/* Font family allows us to change the font elements */
* {
    font-family: bubble;
}

h1 {
    background-color: darkgreen;
    color: coral;
    text-align: center;
}

* {
    font-family:
}

/* if more than 1 instance of element will apply styling to all */
p {
    background-color: rgb(red, green, blue);
    color: pink;
}

/* ID selector */

/* Select element bny its ID*/

/* ID selector takes precedent over class or element selector */
#p2 {
    background-color: purple;
    color: blue;
}

/* CLass selector */

/* select elements  */

.list {
    background-color: ;
}

/* Group selector */
/* Group selector allows us to chain selectors and grab all that apply */