body {
    background: #D96D45;
    font-family: ;
}

header {
    display: flex;
    margin-top: 10px;
    background-color: #E1D3B6;

}

h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}


#ronnieLogo {
    width: 60px;
    height: 75px;
}

#ronnieHeadshot {
    width: 350px;
}

nav {
    flex: 1;
}

#LogoNameContainer {
    display: flex;
    flex: 1;
}

#artistName {
    margin-left: 300px;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
}

.nav-list-items {
    text-decoration: none;
    color: black;
}


main {
    display: flex;
    margin-top: 10px;
    background-color: #FFDFB7;
}

#home {
    display: flex;
    flex: 1;

}

#ronnieImage {
    display: flex;
    flex: 1;
}

#instruments {
    display: flex;
    margin-top: 10px;
    background-color: #E1D3B6;
}

#instrumentImage {
    width: 200px;
    height: 300px;
}

#buttonContainer {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-top: 20px;
}

.button {
    /* Default button styles */
}

.button.active {
    /* Styles for the active button */
    color: white;
    background-color: black;
    font-weight: bold;
}

#textContainer {
    flex: 5;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}


#imageContainer {
    flex: 4;
    padding: 100px;
    justify-content: center;
}

#tourDates {
    margin-top: 10px;
    padding: 10px;
    background-color: #FFDFB7;
}

#listen {
    margin-top: 10px;
    background-color: #E1D3B6;
}

#mediaRow {
    display: flex;
    justify-content: space-between;
}

.video-container {
    flex: 1;
    text-align: center;
}

.audio-container {
    flex: 1;
    text-align: center;
}



footer {
    margin-top: 10px;
    background-color: #FFDFB7;
}

#tourDatelist {
    margin: 0;
    padding: 0;
    text-align: left;
}

.date-container {
    text-align: left;
    flex: 1;
}

.location-container {
    text-align: left;
    flex: 1;
}

.map-container {
    text-align: left;
    flex: 1;
}

.date-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.ticket-link {
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: solid transparent 2px;
}

.ticket-link:hover {
    background: white;
    color: black;
    text-decoration: underline;
    border: solid 2px black;
}

.map-link {
    text-decoration: none;
    color: black;
    text-align: left;
    font-weight: bold;
}

.map-link:hover {
    text-decoration: bold;
    color: #E8251E;
}

p {
    margin: 0;
    padding: 0;
}

#emailRonnie {
    text-decoration: none;
    color: white;
    background-color: black;
}

#emailRonnie:hover {
    background: white;
    color: black;
    text-decoration: underline;
    border: solid 2px black;
}

.contact {
    display: row;
    justify-content: space-evenly;
    background-color: #E1D3B6;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}