body {
    background: red;
}

header {
    display: flex;
    border: solid black;
    margin-top: 10px;

}

nav {
    flex: 1;
}

#LogoNameContainer {
    display: flex;
    flex: 1;
}

#artistName {
    margin-left: 20px;
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text text-decoration: none;
}



main {
    display: flex;
    border: solid black;
    margin-top: 10px;
}

#home {
    display: flex;
    flex: 1;

}

#ronnieImage {
    display: flex;
    flex: 1;
}

#instruments {
    display: flex;
    border: solid black;
    margin-top: 10px;
}

#buttonContainer {
    flex: 1;
    flex-direction: column;
    display: flex;
    row-gap: ;
    border: solid black;
    padding-top: 20px;

}

#textContainer {
    flex: 5;
    justify-content: center;
    display: flex;
    flex-direction: row;
    border: solid black;
    padding-top: 40px;
}


#imageContainer {
    flex: 4;
    border: solid black;
    padding: 100px;
    justify-content: center;
}

#tourDates {
    border: solid black;
    margin-top: 10px;
}

#listen {
    border: solid black;
    margin-top: 10px;
}

footer {
    border: solid black;
    margin-top: 10px;
}

#date-list {
    display: flex;
}

#date-container {
    flex: 1;
    flex-direction: column;
    display: ;
}