.transition {
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
    margin: 100px auto;
    border-radius: 50%;
    transition-property: width, height, background-color;
    transition-duration: 1s;
    transition-delay: 1ms;
}

.transition:hover {
    width: 300px;
    height: 300px;
    background-color: crimson;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px auto;
    background-color: brown;
    transition: background-color 3s, width 3s;
}

button:hover {
    background-color: blueviolet;
    padding: 15px 60px;
}