.box1 {
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    border: 2px solid black;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 2px solid black;
}

/* Position example below */
.box1 {
    /* position: fixed;
    /* Allows us to fix an element in a certain position in the */
    /* top: 500px;
    right: 0; */

    position: sticky;
    top: 0;
    right: 0;
}

.box.2 {
    position: absolute;
    /* Potion the element absolutely inside its closest NON-StATIC position elelement */
    /* Otherwise it will be positioned absolutely in th viewpoint (browser) */
    top: 50px;
    right: 50px;
}